<?xml version="1.0"?>
<model>
  <name>3DR Iris with stewart platform</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_stewart.sdf</sdf>

  <author>
   <name>Lachlan Orr</name>
   <email>lachlan.orr15@imperial.ac.uk</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a manipulator
  </description>
</model>
