<?xml version="1.0" encoding="UTF-8"?> 
<launch>
    <env name="GAZEBO_PLUGIN_PATH" value="${GAZEBO_PLUGIN_PATH}:$(find delta_2)/gazebo/plugin/build" />
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find delta_2)/gazebo/models" />

    <include file="$(find delta_2)/launch/spawn_stewart_model.launch" />

    <rosparam file="$(find delta_2)/cfg/geometry.yaml" />
    <node name="TestSetpoints" pkg="delta_2" type="test_setpoint_publisher.py" required="true" output="screen"/>
    <node name="InverseKinematics" pkg="delta_2" type="inverse_kinematics.py" required="true" output="screen"/>
    <node name="InverseDynamics" pkg="delta_2" type="inverse_dynamics.py" required="true" output="screen"/>
</launch>