<?xml version="1.0" encoding="UTF-8"?> 
<launch>
    <rosparam file="$(find delta_2)/cfg/geometry.yaml" />
    <node name="TestSetpoints" pkg="delta_2" type="test_setpoint_publisher.py" required="true" output="screen"/>
    <node name="InversePosKinematics" pkg="delta_2" type="inverse_kinematics.py" required="true" output="screen"/>
    <node name="InverseVelKinematics" pkg="delta_2" type="inverse_velocity_kinematics.py" required="true" output="screen"/>
    <node name="ServoController" pkg="delta_2" type="servo_controller.py" required="true" output="screen"/>
</launch>