<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" textfile="$(find delta_2)/models/simple_model/robot.urdf" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model simple_model -param robot_description -y -6"/>
    <!-- load the controllers -->
    <rosparam file="$(find delta_2)/models/simple_model/config.yaml" command="load"/>
    <node name="controller_spawner1" pkg ="controller_manager" type="spawner" ns="/simple_model" args="
        joint_state_controller 
        base_to_proximal_link_1_position_controller 
        base_to_proximal_link_2_position_controller 
        base_to_proximal_link_3_position_controller 
        base_to_proximal_link_4_position_controller 
        base_to_proximal_link_5_position_controller
        base_to_proximal_link_6_position_controller"/>
    <!-- converts joint states to TF transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="joint_state" to="/simple_model/joint_states" />
    </node>
</launch>